.header {
  background-color: #fffffff1;
  border-bottom: 1px solid #ffffff;
}
.nav {
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
  display: flex;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 50px;
}
.nav li {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.jumbotron {
  background-image: url("/img/jumbotron.jpg");
  height: 400px;
  background-size: cover;
  background-position: center;
}
.comics-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  padding: 40px 0;
  background-color: #1c1c1c;
  max-width: 1200px;
  margin: 0 auto;
}
.comic-card {
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.comic-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}
.comic-card h3 {
  margin: 10px 0 4px;
  text-transform: uppercase;
}
.comics-section {
  text-align: center;
  background-color: #1c1c1c;
  padding-bottom: 20px;
}
.load-more {
  margin-top: 30px;
  padding: 10px 40px;
  border: none;
  background-color: #0282f9;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
.blue-bar {
  background-color: #0282f9;
  padding: 50px 0;
}
.blue-bar-list {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 50px;
}
.blue-bar-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
}
.blue-bar-list img {
  height: 35px;
  width: auto;
  display: block;
}
.footer {
  background-image: url("/public/img/footer-bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 40px 0;
}
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-logo img {
  width: 400px;
  opacity: 0.8;
}
.footer-links {
  display: flex;
  gap: 40px;
  padding-left: 200px;
}
.footer-column h4 {
  color: white;
  font-size: 15px;
  margin-bottom: 10px;
}
.footer-column ul {
  list-style: none;
  padding: 0;
}
.footer-column li {
  color: #bababa;
  font-size: 11px;
  margin-bottom: 6px;
  cursor: pointer;
}
.footer-bottom {
  background-color: #303030;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup-btn {
  background: transparent;
  border: 2px solid #0282f9;
  color: white;
  padding: 12px 20px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: #0282f9;
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-social span {
  color: #0282f9;
  font-weight: bold;
  font-size: 14px;
}
.social-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.social-icons img {
  width: 26px;
  height: 26px;
  cursor: pointer;
}
